<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DASH Player</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- react.js -->
    <script src="https://fb.me/react-0.13.3.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>

    <!-- Dash player scripts -->
    <script src="../Dash.js"></script>
    <script src="../Player.js"></script>

    <!-- Model -->
    <script src="../model/segment/ListSegment.js"></script>
    <script src="../model/segment/RangeSegment.js"></script>
    <script src="../model/segment/TemplateSegment.js"></script>

    <script src="../model/AdaptationSet.js"></script>
    <script src="../model/MPD.js"></script>
    <script src="../model/Period.js"></script>
    <script src="../model/Representation.js"></script>

    <script src="../model/other/MediaFormat.js"></script>
    <script src="../model/other/MediaType.js"></script>
    <script src="../model/other/MPDType.js"></script>
    <script src="../model/other/MPDProfile.js"></script>

    <!-- MPD maintenance -->
    <script src="../mpd/Downloader.js"></script>
    <script src="../mpd/Parser.js"></script>

    <!-- Streaming -->
    <script src="../streaming/RepresentationRepository.js"></script>
    <script src="../streaming/RepresentationManager.js"></script>
    <script src="../streaming/StreamingManager.js"></script>
    <script src="../streaming/BufferManager.js"></script>
    <script src="../streaming/PlaybackManager.js"></script>
    <script src="../streaming/InitRepresentationPicker.js"></script>

    <!-- Utils -->
    <script src="../utils/AsyncDownloader.js"></script>
    <script src="../utils/CommonUtils.js"></script>
    <script src="../utils/ParserModelUtils.js"></script>

    <!-- Events -->
    <script src="../events/EventBus.js"></script>
    <script src="../events/Events.js"></script>

    <!-- Logging -->
    <script src="../log/ConsoleLogger.js"></script>
    <script src="../log/LogLevel.js"></script>

    <!-- View -->
    <script src="../view/PlayerView.jsx" type="text/jsx"></script>
</head>

<body>
<div id="content">

</div>
<script type="text/jsx">
    var eventBus = Dash.event.EventBus();
    var consoleLogger = Dash.log.ConsoleLogger(console);

    eventBus.addEventListener(Dash.event.Events.LOG_MESSAGE, consoleLogger.onMessageReceived);

    React.render(
            <PlayerView />,
            document.getElementById("content")
    );

    var videoElement = document.getElementById('dashVideoElement');
    var dashPlayer = Dash.Player(videoElement, window, eventBus);
</script>
</body>
</html>