<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script src="../Dash.js"></script>
    <script src="../Player.js"></script>

    <!-- Model -->
    <script src="../model/segment/ListSegment.js"></script>
    <script src="../model/segment/RangeSegment.js"></script>
    <script src="../model/segment/TemplateSegment.js"></script>

    <script src="../model/AdaptationSet.js"></script>
    <script src="../model/MPD.js"></script>
    <script src="../model/Period.js"></script>
    <script src="../model/Representation.js"></script>

    <script src="../model/other/MediaFormat.js"></script>
    <script src="../model/other/MediaType.js"></script>
    <script src="../model/other/MPDType.js"></script>
    <script src="../model/other/MPDProfile.js"></script>

    <!-- MPD maintenance -->
    <script src="../mpd/Downloader.js"></script>
    <script src="../mpd/Parser.js"></script>

    <!-- Streaming -->
    <script src="../streaming/RepresentationRepository.js"></script>
    <script src="../streaming/RepresentationManager.js"></script>
    <script src="../streaming/StreamingManager.js"></script>
    <script src="../streaming/BufferManager.js"></script>
    <script src="../streaming/PlaybackManager.js"></script>

    <!-- Utils -->
    <script src="../utils/AsyncDownloader.js"></script>
    <script src="../utils/CommonUtils.js"></script>
    <script src="../utils/ParserModelUtils.js"></script>
</head>

<body>

<div class="dashPlayerContainer">
    <div class="sourceContainer">
        <label for="sourceType">Source:</label>
        <select id="sourceType">
            <option value="youtube">YouTube</option>
            <option value="mpd">MPD file</option>
        </select>
        <input type="text" id="sourceURL">
        <button onclick="initializeDashPlayer()">Load</button>
    </div>

    <div class="videoContainer">
        <video id="dashVideo" controls></video>
    </div>

    <div id="debugInfo">
    </div>

    <div id="playerController">
    </div>
</div>

<script>
    var videoElement = document.getElementById('dashVideo'),
            debugInfoElement = document.getElementById('debugInfo'),
            sourceURLNode = document.getElementById('sourceURL'),
            sourceTypeNode = document.getElementById('sourceType');

    var player = Dash.Player(videoElement, debugInfoElement);

    function initializeDashPlayer() {
        var url = sourceURLNode.value,
                type = sourceTypeNode.value;
        player.load(url, (type === 'youtube'));
    }
</script>

</body>
</html>