<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script src="../Dash.js"></script>
    <script src="../Player.js"></script>

    <!-- model -->
    <script src="../model/segment/ListSegment.js"></script>
    <script src="../model/segment/RangeSegment.js"></script>

    <script src="../model/AdaptationSet.js"></script>
    <script src="../model/MPD.js"></script>
    <script src="../model/Period.js"></script>
    <script src="../model/Representation.js"></script>

    <!-- mpd maintenance -->
    <script src="../mpd/Downloader.js"></script>
    <script src="../mpd/Parser.js"></script>

    <!-- Utils -->
    <script src="../utils/AsyncDownloader.js"></script>
    <script src="../utils/CommonUtils.js"></script>
    <script src="../utils/RepresentationManager.js"></script>
    <script src="../utils/StreamingManager.js"></script>
</head>
<body>

<video id="dashVideoElement" controls></video>

<script>
    var videoElement = document.getElementById('dashVideoElement');
    Dash.player(videoElement).load('https://www.youtube.com/watch?v=PunJGevSv8w', true);
</script>

</body>
</html>