.sourceLoadView {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sourceSelect {
    padding-right: 5px;
}

.sourceInput {
    padding-left: 5px;
}

.logBody {
    max-height: 300px;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.adaptation-profile-list select {
    width: 100%;
    height: 200px;
}

.adaptation-profile-list button {
    width: 100%;
}

.adaptation-profile-settings button {
    width: 100%;
}
